.login-container {
  display: flex;
  flex: 1;
}

.login-container > div {
  width: 50%;
}

.login__image {
  background-size: cover;
  background-position: center;
}

.form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
