.hero-header {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 0 15%;
  background-repeat: no-repeat;
  background-size: cover;

  padding: calc(100vh - 64px) 15% 35px;
}

.ant-card {
  background-color: #47c9a3dd;
}

.ant-card .ant-card-head {
  border-bottom-color: #f0f0f060;
}
